# Creates the authors Table

In [2]:
import pandas as pd
import os
from tqdm import tqdm
import yaml
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import json

import dask
import dask.dataframe as dd

with open("/home/ubuntu/work/therapeutic_accelerator/config/main.yaml", "r") as f:
    config = yaml.load(f, Loader=yaml.FullLoader)
    
with open("../config/keys.yaml", "r") as f:
    keys = yaml.load(f, Loader=yaml.FullLoader)
    
bucket_path = os.path.join(config['paths']['root'], config['paths']['mount'])

In [3]:
engine = create_engine(f'postgresql://postgres:{keys["postgres"]}@{config["database"]["host"]}:5432/postgres')

In [4]:
# Create connection to postgres db
# from sqlalchemy.engine.url import URL

# postgres_db = {'drivername': 'postgres',
#                'username': 'postgres',
#                'password': keys["postgres"],
#                'host': config["database"]["host"],
#                'port': 5432}
# print(URL(**postgres_db))
# postgres = URL(**postgres_db)

In [ ]:
# # Create database metadata schema
# from sqlalchemy import create_engine
# from sqlalchemy import MetaData
# from sqlalchemy import Table
# from sqlalchemy import Column
# from sqlalchemy import Integer, String

# db_uri = 'sqlite:///db.sqlite'
# engine = create_engine(db_uri)

# # Create a metadata instance
# metadata = MetaData(engine)
# # Declare a table
# table = Table('Example',metadata,
#               Column('id',Integer, primary_key=True),
#               Column('name',String))
# # Create all tables
# metadata.create_all()
# for _t in metadata.tables:
#    print("Table: ", _t)

In [20]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table

# db_uri = 'sqlite:///db.sqlite'
# engine = create_engine(db_uri)

# Create a MetaData instance
metadata = MetaData()
print(metadata.tables)

# reflect db schema to MetaData
metadata.reflect(bind=engine)
print(metadata.tables)

metadata.tables.get('abstracts')
ATTRIBUTES = metadata.tables.get('attributes')

FacadeDict({})
FacadeDict({'attributes': Table('attributes', MetaData(), Column('index', BIGINT(), table=<attributes>), Column('corpusid', BIGINT(), table=<attributes>, primary_key=True, nullable=False), Column('externalids', TEXT(), table=<attributes>), Column('url', TEXT(), table=<attributes>), Column('title', TEXT(), table=<attributes>), Column('authors', TEXT(), table=<attributes>), Column('venue', TEXT(), table=<attributes>), Column('publicationvenueid', TEXT(), table=<attributes>), Column('year', DOUBLE_PRECISION(precision=53), table=<attributes>), Column('referencecount', BIGINT(), table=<attributes>), Column('citationcount', BIGINT(), table=<attributes>), Column('influentialcitationcount', BIGINT(), table=<attributes>), Column('isopenaccess', BOOLEAN(), table=<attributes>), Column('s2fieldsofstudy', TEXT(), table=<attributes>), Column('publicationtypes', TEXT(), table=<attributes>), Column('publicationdate', TEXT(), table=<attributes>), Column('journal', TEXT(), table=<attributes>), Column('updated', TEXT(), table=<attributes>), Column('id', BIGINT(), table=<attributes>), schema=None), 'abstracts': Table('abstracts', MetaData(), Column('index', TEXT(), table=<abstracts>), Column('paperId', TEXT(), table=<abstracts>), Column('corpusid', BIGINT(), table=<abstracts>), Column('abstract', TEXT(), table=<abstracts>), schema=None)})

In [ ]:
def query_db(query): 
    # change type
    with engine.connect() as conn: 
        return conn.execute(query)

In [ ]:
# Rename column
# ALTER TABLE {table_name} RENAME COLUMN corpusid TO corpusId;
# ALTER TABLE {table_name} ADD PRIMARY KEY (corpusId);

# table_name = 'abstracts'

# # set primarykey column
# query = f'''
#     ALTER TABLE {table_name} RENAME COLUMN "corpusId" TO corpusid;
# '''

# # change type
# with engine.connect() as conn: 
#     conn.execute(query)

In [14]:
# table_name = 'abstracts'

# # set primarykey column
# query = f'''
#     ALTER TABLE {table_name} RENAME COLUMN "corpusId" TO corpusid;
# '''

# # change type
# with engine.connect() as conn: 
#     conn.execute(query)

In [12]:
# table_name = 'abstracts'

# # set primarykey column
# query = f'''
#     ALTER TABLE {table_name} ALTER COLUMN "corpusId" TYPE BIGINT USING "corpusId"::bigint;
# '''
# #  ALTER TABLE {table_name} ADD PRIMARY KEY (corpusId);

# # change type
# with engine.connect() as conn: 
#     conn.execute(query)

In [13]:
# # Query to pull in corpus IDs
# sql = '''
#     SELECT * FROM attributes LEFT JOIN abstracts ON (attributes.corpusid = abstracts."corpusId");
# '''

# # Context manager to open the connection to the database and execute the query. 
# with engine.connect() as conn:
#     query = conn.execute(text(sql))
    
# # Get all records and store in dataframe
# attributes = pd.DataFrame(query.fetchall())
# attributes.head()

,index,corpusid,externalids,url,title,authors,venue,publicationvenueid,year,referencecount,...,s2fieldsofstudy,publicationtypes,publicationdate,journal,updated,id,index,paperId,corpusId,abstract
0,58,1104036,"{""ACL"": null, ""DBLP"": null, ""ArXiv"": null, ""MA...",https://www.semanticscholar.org/paper/133c6b0c...,Six-Minute Walk Test-Normal Values of School C...,"{""{\""authorId\"": \""1429080251\"", \""name\"": \""C...",Indian Journal of Pediatrics,bee8ed66-5713-4223-a10e-859dc1163fcc,2012.0,23,...,"{""{\""category\"": \""Medicine\"", \""source\"": \""s...",{JournalArticle},2012-05-01,"{""name"": ""The Indian Journal of Pediatrics"", ""...",2023-05-13T06:13:26.643Z,5693130,None,133c6b0cdd91b5f02b2a962a645761534dff7684,1104036.0,None
1,525,19368671,"{""ACL"": null, ""DBLP"": null, ""ArXiv"": null, ""MA...",https://www.semanticscholar.org/paper/c7c3bff7...,Cesarean Delivery and Body Mass Index at 6 Mon...,"{""{\""authorId\"": \""8984672\"", \""name\"": \""R. V...",Pediatrics,02bf11d4-dd88-4e0e-b7c4-084d3fa17c2f,2017.0,38,...,"{""{\""category\"": \""Medicine\"", \""source\"": \""s...",{JournalArticle},2017-06-01,"{""name"": ""Pediatrics"", ""pages"": null, ""volume""...",2023-05-05T00:19:09.210Z,5702182,None,c7c3bff7608e2b12be58af8f556351079a14264f,19368671.0,Children born by CD had a higher mean BMI at 6...
2,627,6291787,"{""ACL"": null, ""DBLP"": null, ""ArXiv"": null, ""MA...",https://www.semanticscholar.org/paper/c2dfb974...,Discovery of Inhibitors of Trypanosoma brucei ...,"{""{\""authorId\"": \""50716611\"", \""name\"": \""And...",ChemMedChem,058a361a-9ba0-41df-8e31-cb93f82e6193,2015.0,47,...,"{""{\""category\"": \""Biology\"", \""source\"": \""s2...",{JournalArticle},2015-09-18,"{""name"": ""Chemmedchem"", ""pages"": ""1809 - 1820""...",2023-03-31T04:43:31.505Z,5703915,None,c2dfb974fbf5a66d4a822db552cae21db6f7ae00,6291787.0,A screen of a focused kinase inhibitor library...
3,5185,94713232,"{""ACL"": null, ""DBLP"": null, ""ArXiv"": null, ""MA...",https://www.semanticscholar.org/paper/0c1a75b7...,Spectrophotometric method for rapid determinat...,"{""{\""authorId\"": \""8425417\"", \""name\"": \""P. F...",None,None,1969.0,6,...,"{""{\""category\"": \""Chemistry\"", \""source\"": \""...",None,1969-08-01,"{""name"": ""Analytical Chemistry"", ""pages"": ""134...",2022-09-09T01:39:05.853Z,5816366,None,0c1a75b78efb2e1c2f70f15726ffb49a7a3974ee,94713232.0,None
4,778,11859886,"{""ACL"": null, ""DBLP"": null, ""ArXiv"": null, ""MA...",https://www.semanticscholar.org/paper/4ff3cf20...,Understanding pathways to breast cancer diagno...,"{""{\""authorId\"": \""49789898\"", \""name\"": \""J. ...",BMJ Open,e6216b43-2428-4aaf-8101-b40e1dfd2810,2016.0,44,...,"{""{\""category\"": \""Medicine\"", \""source\"": \""s...",{JournalArticle},2016-01-01,"{""name"": ""BMJ Open"", ""pages"": null, ""volume"": ...",2023-05-07T05:44:11.482Z,5706037,None,4ff3cf20bd8a9acb4aa771bdd00a3fec4e7004a7,11859886.0,Objectives The aim of this study was to explor...

In [5]:
# Query to pull in corpus IDs
sql = '''
    SELECT authors FROM attributes;
'''

# Context manager to open the connection to the database and execute the query. 
with engine.connect() as conn:
    query = conn.execute(text(sql))
    
# Get all records and store in dataframe
df = pd.DataFrame(query.fetchall())
df.head()

                                             authors
0  {"{\"authorId\": \"51285510\", \"name\": \"Isa...
1  {"{\"authorId\": \"5699001\", \"name\": \"H. K...
2  {"{\"authorId\": \"4425040\", \"name\": \"T. T...
3  {"{\"authorId\": \"2225106\", \"name\": \"A. M...
4  {"{\"authorId\": \"7685173\", \"name\": \"Saee...

In [15]:
def clean_authors(author): 
    author = ''.join(author.strip('"').split('\\'))
    author = author.strip('"')
    author = author.strip("{}")
    author = ''.join(["[", author.strip('"').replace('","', ","), "]"])
    # author = json.loads(author)
    return author

In [ ]:
# partition dataframe to make it easier and faster to work with
# doesn't overload the memory this way

ddf = dd.from_pandas(df, npartitions=1000)
authors = ddf.authors.apply(clean_authors, meta=('authors', 'string')).compute()
authors = pd.DataFrame(authors)
new_list = []
for i,v in authors.iterrows():
    try:
        new_list += json.loads(v.authors)
    except: 
        continue
    
authors = pd.DataFrame(new_list)
print(authors.shape)
authors = authors.drop_duplicates()
print(authors.shape)

In [129]:
# Upload authors data table to sql
with engine.connect() as conn: 
    authors.to_sql('authors', con = conn, index = False, if_exists = 'replace',chunksize= 10000)

In [130]:
# Query to pull in corpus IDs
sql = '''
    SELECT * FROM authors;
'''

# Context manager to open the connection to the database and execute the query. 
with engine.connect() as conn:
    query = conn.execute(text(sql))
    
# Get all records and store in dataframe
df = pd.DataFrame(query.fetchall())
df.head()

   authorId              name
0  51285510      Isabel Ernst
1  10784515  Maximilian Haase
2  47832514          S. Ernst
3  46262768     Shuguang Yuan
4  46371491           A. Kuhn

In [127]:
df.shape

(2270047, 3)